<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishProvider>FileSystem</PublishProvider>
    <Configuration>Release</Configuration>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <UseAppHost>true</UseAppHost>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>..\bin\x64\Publish\</PublishDir>
    <Platform>x64</Platform>
    <TargetFramework>net8.0-windows</TargetFramework>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>